p {
   font-size: var(--text-m);
}

main {
   max-width: 1280px;
   width: 95%;
   margin: 0 auto;
   padding: 2rem;
}

.check-out-heading {
   text-align: center;
   margin-bottom: 15rem;
   font-weight: 600;
   color: var(--gray-base);
}

.check-out-items {
   color: var(--primary-shade);
}

.review-heading {
   color: var(--primary-base);
   font-weight: 500;
   margin-bottom: 1.5rem;
}

.flex-container {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
}

.check-out-items-section {
   display: grid;
   grid-template-columns: 1fr 35rem;
   gap: 3.5rem;
}

.check-out-item-container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   box-shadow: 0px 0px 4px var(--gray-tint);
   padding: 1.5rem;
   border-radius: 10px;
}

.items-and-info {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1.5rem;
}

.delivery-due-date-heading {
   color: var(--secondary-shade);
   font-weight: 500;
}

.item-img-container img {
   width: 100%;
}

.item-info-custom-container {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.update-quantity {
   width: 50px;
   height: 25px;
   font-size: var(--text-m);
   color: var(--secondary-shade);
   border: 2px solid var(--gray-base);
   border-radius: 5px;
   margin-left: 1.5rem;
   display: none;
}

.update-quantity.active {
   display: inline-block;
}

.check-out-update-btn, .check-out-delete-btn {
   padding: 1rem 1.5rem;
}

.delivery-options-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.delivery-option-heading {
   color: var(--secondary-shade);
}

.delivery-option {
   display: flex;
   gap: 2rem;
}

.delivery-options-container input {
   width: 2rem;
}

.order-summary-section {
   display: flex;
   flex-direction: column;
   min-height: 35rem;
   max-height: 40rem;
   border-radius: 10px;
   padding: 1.5rem;
   box-shadow: 0px 0px 5px var(--gray-tint);
   justify-content: space-between;
   overflow: auto;
}

.order-summary-heading {
   color: var(--secondary-shade);
}

.summary-block {
   display: flex;
   justify-content: space-between;
   overflow: auto;
}

.summary-total-block {
   border-top: 1px solid var(--gray-tint);
   color: var(--secondary-shade);
   font-weight: 600;
}