
/* ------------index.html MAIN------------ */

.main-content-container {
   max-width: 1280px;
   margin: 0 auto;
   width: 90%;
}

/* ------------HERO SECTION------------ */
.hero-section {
   text-align: center;
   margin-bottom: 30rem;
}

.hero-heading {
   margin-bottom: 1rem;
}

.hero-paragraph {
   margin-bottom: 5.5rem;
}

.hero-btns {
   display: flex;
   gap: 2rem;
   justify-content: center;
   align-items: center;
}

.feature-section {
   margin-bottom: 30rem;
}

.features-main-heading {
   text-align: center;
   margin-bottom: 10rem;
}

.features-heading {
   margin-bottom: 1.5rem;
}

.feature-grid-section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5rem;
   align-items: center;
   padding: 2rem;
}

.grid-swap {
   grid-column: 3/2;
   grid-column: 2/3;
}

.feature-img {
   padding: 1.5rem;
   max-width: 400px;
   width: 100%;
}

.cta-card {
   text-align: center;
   background-color: var(--primary-base);
   max-width: 1000px;
   padding: 10rem 20rem;
   border-radius: 25px;
   margin: 0 auto;
}

.cta-heading {
   margin-bottom: 5.5rem;
}