span, p {
   font-size: var(--text-m);
}

main {
   max-width: 1280px;
   margin: 0 auto;
}

.products-grid-section {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 3rem;
   width: 95%;
   padding: 2rem;
}

.product-container {
   max-width: 30rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   box-shadow: 0px 0px 3px var(--gray-tint);
   border-radius: 5px;
   padding: 1rem;
}

.product-img-container img{
   max-width: 300px;
   width: 100%;
}

.product-name-container, .product-price-container, .product-checkmark-container {
   min-height: 4.5rem;
   color: var(--gray-base);
}

.product-quantity {
   width: 5rem;
   height: 2.5rem;
   border: 2px solid var(--gray-shade);
   border-radius: 5px;
   color: var(--gray-shade);
}

.product-checkmark-container {
   display: flex;
   align-items: center;
   color: green;
   font-weight: 600;
   opacity: 0;
}

.opacity-1 {
   opacity: 1;
}

.product-checkmark-container img {
   width: 20px;
}